Source: liquidwar6
Section: games
Priority: extra
Maintainer: Christian Mauduit (U-Foot) <ufoot@ufoot.org>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: liquidwar6
Architecture: any
Depends: ${shlibs:Depends}
Recommends: liquidwar6-extra-maps (= ${source:Version})
Description: A unique multiplayer wargame 
 Liquid War 6 is a unique multiplayer wargame. Your army is a blob of
 liquid and you have to try and eat your opponents. Rules are very
 simple yet original, they have been invented by Thomas Colcombet. It
 is possible to play alone against the computer but the game is really
 designed to be played with friends, on a single computer, on a LAN, or
 on Internet.

